/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 de jul. de 2024, 21:41:24
    Author     : Alex de Abreu dos Santos <alexdeabreudossantos@gmail.com>
*/

/* VARIABLE DEFINITIONS: Only these 4 variables have to be adjusted, the rest is copy-paste */
*{
    -fx-my-menu-color: #E2E2E2;              /* Change according to your needs */
    -fx-my-menu-color-highlighted: #C4C4BA;      /* Change according to your needs */
    -fx-my-menu-font-color: #263238;             /* Change according to your needs */
    -fx-my-menu-font-color-highlighted: #263238; /* Change according to your needs */
}

.hbox{
    -fx-background-color: -fx-my-menu-color;
    -fx-padding: 5 0 0 15;
    -fx-border-color: #c9c9c9; /* Cor da borda */
    -fx-border-width: 0 0 1 0; /* Apenas borda inferior */
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 4, 0, 0, 2);
}

.fundo-texto{
    -fx-background-color: black;
    -fx-color: white;
    -fx-padding: 5px 8px 5px 8px;
    -fx-background-radius: 3px;
    -fx-text-fill: white;
}

.btn-menu{
   -fx-background-color: -fx-my-menu-color; 
}

.btn-menu:hover {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

.nome{
    -fx-padding: 0 0 0 15px;
}

.table-row-cell:odd {
    -fx-background-color: #e7e7e7; /* Cor para linhas ímpares */
}

.table-row-cell:even {
    -fx-background-color: #ffffff; /* Cor para linhas pares */
}
/* Estilo da linha selecionada */
.table-row-cell:filled:focused:selected {
    -fx-background-color: #007BFF; /* Cor da linha selecionada */
    -fx-text-fill: white; /* Cor do texto na linha selecionada */
}

.table-view {
    -fx-background-color: #d3d3d3;
}

.text-field {
    -fx-border-color: transparent; /* Green border */
    -fx-background-color: transparent; /* Light gray background */
    -fx-text-fill: black; /* Dark text color */
}

.texto-centro{
    -fx-alignment: CENTER;
}

.espaco-coluna{
    -fx-padding: 0 0 0 15px;
}

.campo-nome {
    -fx-border-color: d3d3d3; /* Green border */
    -fx-background-color: transparent; /* Light gray background */
    -fx-text-fill: black; /* Dark text color */
}
.borda-pane{
    -fx-border-color: black;
    -fx-background-color: white;
}

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
    -fx-padding: 5 0 0 15;
    -fx-border-color: #c9c9c9; /* Cor da borda */
    -fx-border-width: 0 0 1 0; /* Apenas borda inferior */
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 4, 0, 0, 2);
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/
.menu-item {
    -fx-background-color: -fx-my-menu-color;
}

/*** The item's label (not hovered / focused) ***/
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** The item's label (disabled) ***/
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

/*** The item itself (hovered / focused) ***/
.menu-item:focused, .menu-item:hovered {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* CONTEXT MENU */
/*** The context menu that contains a menu's menu items ***/
.context-menu {
    -fx-background-color: -fx-my-menu-color;
}
